OCTOPUS_HOST=127.0.0.1
OCTOPUS_PORT=8787
OCTOPUS_DATA_DIR=./data

SUI_NETWORK=localnet
OCTOPUS_SUI_MODE=local
SUI_PACKAGE_ID=

WALRUS_NETWORK=testnet
OCTOPUS_WALRUS_MODE=local
OCTOPUS_WALRUS_EPOCHS=5
WALRUS_BIN=walrus
WALRUS_PUBLISHER_URL=
WALRUS_AGGREGATOR_URL=
