OCTOPUS_HOST=127.0.0.1
OCTOPUS_PORT=48787
OCTOPUS_DATA_DIR=./data

SUI_NETWORK=localnet
OCTOPUS_SUI_MODE=local
SUI_RPC_URL=http://127.0.0.1:9000
SUI_PACKAGE_ID=
OCTOPUS_ACCOUNT_REGISTRY_ID=
OCTOPUS_REPO_REGISTRY_ID=
OCTOPUS_DELEGATE_CACHE_TTL_MS=60000
OCTOPUS_WEB_SESSION_SECRET=
SERVER_SUI_PRIVATE_KEYS=

WALRUS_NETWORK=testnet
OCTOPUS_WALRUS_MODE=local
OCTOPUS_WALRUS_EPOCHS=50
WALRUS_BIN=walrus
WALRUS_UPLOAD_RELAY_URL=
WALRUS_AGGREGATOR_URL=

DATABASE_URL=
OCTOPUS_SEAL_MODE=local
SEAL_SERVER_CONFIGS=
SEAL_KEY_SERVERS=
SEAL_THRESHOLD=1

VITE_SUI_NETWORK=testnet
VITE_SUI_RPC_URL=https://fullnode.testnet.sui.io:443
VITE_OCTOPUS_SERVER_URL=http://127.0.0.1:48787
VITE_SUI_PACKAGE_ID=
VITE_OCTOPUS_ACCOUNT_REGISTRY_ID=
VITE_OCTOPUS_REPO_REGISTRY_ID=
